@import "/css/variables.css"; 

body{
    font-family: 'source-sans-3', sans-serif;
    font-size: 1.2rem;
    font-weight: 370;
}
.btn-outline-success,
.btn-primary,
.btn-primary.disabled,
.navbar-expand-lg .navbar-collapse{
    font-family: 'Source Serif 4', sans-serif;;
}
.navbar-light .navbar-toggler,
.navbar-light .navbar-toggler-icon{
    font-size: 1.8rem;
}
.nav-link{
    font-weight: 700;
}
.btn-outline-success{
    font-weight: 400; 
}
.btn-primary,
.btn-primary.disabled{
    font-weight: 500;
    font-size: 1.8rem;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'embury-text', serif;;
    font-weight: 300;
}
/*TABLET AND DESKTOP VERSION */
@media (min-width:769px) {
    .navbar-light .navbar-nav .nav-link{
        font-size: 1.2rem;
    }
}