@import "/css/variables.css"; 
html, body{
    height: 100vh;
}
body{
    background: url(/images/kiwihug-y_2GC4EhOP4-unsplash_background.jpg);
    background-repeat: repeat;
}
.navbar-light .navbar-toggler,
.navbar-light .navbar-toggler-icon{
    border: none;
    color: var(--dark-blue);
}
.navbar-light .navbar-nav .nav-link.active{
    color: var(--shallow);
}
div{
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
.kitchen{
    cursor: pointer;
    filter:sepia(0.2);
    filter: drop-shadow(2px 2px 20px var(--dark-blue));
}
.kitchen:hover{
    filter:contrast(110%);
    filter: drop-shadow(1px 1px 10px var(--dark-blue));
}
footer{
    margin-top: 10%;
}
.footer{
    height: 100px;
    margin-top: 1%;
    background: url(/images/Logo.png);
    background-size: contain; 
}
.btn-outline-success{
    border-color: var(--shallow);
    color: var(--shallow);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--dark-blue);
    text-shadow: 3px 3px var(--shadow);
}
.btn-outline-success:hover{
    background-color: var(--dark-blue);
    color: var(--orange);
    text-shadow: 3px 3px var(--shadow);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--dark-orange);
    border-color: var(--dark-blue);
}
.btn-primary,
.btn-primary.disabled{
    background-color: var(--shallow);
    color: var(--sand);
    text-shadow: 3px 3px var(--shadow);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--sand);
    box-shadow: 5px 5px 5px var(--dark-blue);
    padding: 1.2%;
    text-align: center;
    border-color: var(--dark-blue);
    margin: 2% auto;
}
.btn-primary:hover{
    background-color: white;
    border-color: var(--dark-blue);
    color: var(--dark-blue);
    -webkit-text-stroke-color: var(--dark-blue);
    text-shadow: 3px 3px var(--shadow);
}
.social-media,
.contact{
    display: flex;
    justify-content: space-around;
}
/*Products page*/
.carousel{
    position: relative;
    filter: drop-shadow(2px 2px 20px var(--dark-blue));
}
.favorite-icon{
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    box-shadow: none;
    border: none;
}
.btn-section,
.btn-section_dinning-room{
    margin: 0.2% auto 5% auto;
}
.product-title{
    margin-top: 5%;
    margin-bottom: 10%;
    text-align: center;
}
.quantities,
.product-total{
    margin: 10% 2% 5% 2%;
}
.form-select{
    width: 90%;
}
/* MOBILE VERSION */
@media (max-width:767px) {
    .mobile-banner{
        width: 100%;
    }
    .desktop-banner{
        display: none;
    }
    .btn-primary,
    .btn-primary.disabled{
        width: 99%;
    }
    .text{
        display: none;
    }
    .link{
        display: none;
    }
    .flower{
        width:80%;
    }
}
/*TABLET VERSION*/
@media (min-width:481px) and (max-width:768px){
    .flower{
        width:90%;
    }
}
/* DESKTOP VERSION*/
@media (min-width:769px) {
    .mobile-banner{
        display: none;
    }
    ul{
        width: 640px;
    }
    .navbar-light .navbar-nav .nav-link{
        border: 2px var(--light-orange);
        border-radius: 3px;
        text-shadow: 3px 3px var(--shadow);
        box-shadow: 5px 5px 5px var(--dark-blue);
    }
    .navbar-expand-lg .navbar-nav .nav-link{
        padding: .9rem 1.6rem;
    }
    .navbar-expand-lg .navbar-collapse{
        background-color: var(--sand);
        opacity: 1;
        margin-bottom: 4%;
        justify-content: space-evenly;
        flex-basis: 0;
    }
    .navbar > .container-fluid{
        margin: 1% 0 !important;
        width: 100%;
    }
    .nav-item{
        margin-right: 5%;
    }
    .navbar-light .navbar-nav .nav-link.disabled,
    .navbar-light .navbar-nav .nav-link{
        color: var(--shallow) !important;
    } 
    .navbar-light .navbar-nav .nav-link.active{
        text-decoration: underline;
    }
    .navbar-light .navbar-nav .nav-link.active:hover{
        background: white;
        border: 2px;
        border-color: var(--dark-orange);
        color: var(--dark-orange);
    }
    .sections{
        max-width: 97%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1%;
        align-items:stretch;
    }
    .dinning-room,
    .inspiration{
        grid-column: 2;
    }
    .btn-section_dinning-room{
        grid-row: 2;
    }
    .btn-section_dinning-room,
    .btn-section_inspiration{
        grid-column: 1;
    }
    .btn-section_inspiration{
        grid-row: 4;
    }
    .btn-section,
    .btn-section_dinning-room,
    .btn-section_inspiration{
        max-width: 500px;
        margin: 5% auto;
    }
    p{
        margin: 10% auto;
    }
    .btn-primary,
    .btn-primary.disabled{
        width: 80%;
        padding: 3%;
    }
    /*PRODUCT PAGE*/
    .specif-product{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3%;
        justify-content: center;
        align-items: center;
    }
    .form-select{
        width: 50%;
    }
}