:root{
    --dark-blue:#72858c;
    --orange: rgb(207, 187, 180);
    --light-cyan: rgb(208, 219, 215);
    --sand:#ece9e4;
    --green: rgb(183, 196, 189);
    --dark-orange: #9c8177;
    --shadow: rgba(0, 0, 0, 0.048);
    --shallow:#344c55;
    --light-orange: rgb(218, 199, 188);
}