:root{
    --dark-blue:#72858C;
    --orange: #CFBBB4;
    --light-cyan: #D0DBD7;
    --sand:#ebdecb;
    --green: #B7C4BD;
    --dark-orange: #9c8177;
    --shadow: rgba(0, 0, 0, 0.048);
    --shallow:#344c55;
    --light-orange: #DAC7BC;
}